<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">

        function addNewProduct(){
            let name = $('#name').val();
            let price = $('#price').val();
            let quantity = $('#quantity').val();
            let color = $('#color').val();
            let description = $('#description').val();
            let category = $('#category').val();
            let newProduct = {
                name: name,
                price: price,
                quantity: quantity,
                color: color,
                description: description,
                category: { id: category}
            };

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newProduct),
                url: "/products",
                success: findAll
            });
            event.preventDefault();
        };

        function findAll(){
            $.ajax({
                type: "GET",
                url: "/products",
                success: function (data) {
                    let content = '   <table class="table table-striped"><tr>\n' +
                        '        <td>Name</td>\n' +
                        '        <td>Price</td>\n' +
                        '        <td>Quantity</td>\n' +
                        '        <td>Color</td>\n' +
                        '        <td>Description</td>\n' +
                        '        <td>Category</td>\n' +
                        '    </tr>';
                    for (let i = 0; i < data.length; i++) {
                        content += getProduct(data[i]);
                    }
                    content += "</table>";
                    document.getElementById('main').innerHTML = content;
                }
            });
        }

        function getProduct(product) {
            return `<tr><td >${product.name}</td><td>${product.price}</td><td >${product.quantity}</td><td>${product.color}</td><td>${product.description}</td><td>${product.category.name}</td>` +
                `<td><a class="btn btn-danger" onclick="deleteProduct(${product.id})" >Delete</a></td><td><a class="btn btn-warning" onclick="edit(${product.id})" >Edit</a></td></tr>`;
        }

        function showFormCreate(){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: "/products/create",
                success: function (data){
                    let str = "";
                    str += "<form id=\"add-product\">\n" +
                        "    <table class='table table-striped'>\n" +
                        "        <tr>\n" +
                        "            <td>Name:</td>\n" +
                        "            <td><input type=\"text\" id=\"name\" placeholder=\"name\"></td>\n" +
                        "        </tr>\n" +
                        "        <tr>\n" +
                        "            <td>Price:</td>\n" +
                        "            <td><input type=\"text\" id=\"price\" placeholder=\"price\"></td>\n" +
                        "        </tr>\n" +
                        "        <tr>\n" +
                        "            <td>Quantity:</td>\n" +
                        "            <td><input type=\"text\" id=\"quantity\" placeholder=\"quantity\"></td>\n" +
                        "        </tr>\n" +
                        "        <tr>\n" +
                        "            <td>Color:</td>\n" +
                        "            <td><input type=\"text\" id=\"color\" placeholder=\"color\"></td>\n" +
                        "        </tr>\n" +
                        "        <tr>\n" +
                        "            <td>Description:</td>\n" +
                        "            <td><input type=\"text\" id=\"description\" placeholder=\"description\"></td>\n" +
                        "        </tr>\n" +
                        "        <tr>\n" +
                        "            <td>Category:</td>\n" +
                        "            <td><select id='category'> " ;
                    for (let i = 0; i < data.length; i++) {
                        str += "<option value='"+data[i].id+"'>"+data[i].name+"</option>"
                    }
                    str += "</select>";
                    str +=
                        " </td>\n" +
                        "        </tr>\n" +
                        "        <tr>\n" +
                        "            <td></td>\n" +
                        "            <td><button class='btn btn-success' type=\"button\" onclick=\"addNewProduct()\">SAVE</button></td>\n" +
                        "        </tr>\n" +
                        "    </table>\n" +
                        "</form>";
                    document.getElementById('main').innerHTML = str;
                    document.getElementById("create").innerHTML = "";
                }
            })
        }


        function deleteProduct(id){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "DELETE",
                data: JSON.stringify(id),
                url: "/products",
                success:findAll
            })

        }

        function edit(id){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                data: JSON.stringify(id),
                url: "/products",
                success: function (data){

                    let str = "<table class='table table striped'>";
                    str += "<tr" +
                        "><td>Name</td><td><input id='name' type='text' value='"+data.name+"'></td>" +
                        "</tr>" +
                        "<tr><td>Price</td><td><input id='price' type='text' value='"+data.price+"'></td></tr>" +
                        "<tr><td>Quantity</td><td><input id='quantity' type='text' value='"+data.quantity+"'></td></tr>" +
                        "<tr><td>Color</td><td><input id='color' type='text' value='"+data.color+"'></td></tr>" +
                        "<tr><td>Description</td><td><input id='description' type='text' value='"+data.description+"'></td></tr>" +
                        "<input id='id' type='hidden' value='"+data.id+"'>" +
                        "<tr><td>Category</td><td><select id='option'>"  +
                        "</select></td></tr>"
                        getCategory();
                    str+=
                        "<tr><td><button class='btn btn-success' type='button' onclick='update()'>Update</button></td></tr></table>"

                    document.getElementById("main").innerHTML = str;
                }
            })
        }

function getCategory(){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: "/products/create",
                success: function (data){

                    let str ="<select id='category'>";

                    for (let i = 0; i < data.length; i++) {
                        str += "<option value='"+data[i].id+"'>"+data[i].name+"</option>"
                    }

                    str += "</select>";

                    document.getElementById("option").innerHTML = str;
                }
            })
}

        function update(){
            let id = $('#id').val();
            let name = $('#name').val();
            let price = $('#price').val();
            let quantity = $('#quantity').val();
            let color = $('#color').val();
            let description = $('#description').val();
            let category = $('#category').val();
            let newProduct = {
                id: id,
                name: name,
                price: price,
                quantity: quantity,
                color: color,
                description: description,
                category: { id: category}
            };

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newProduct),
                url: "/products/update",
                success: findAll

            })
        }


    </script>

</head>
<body onload="findAll()">


<div class="container">

    <div class="row">
        <div class="col-12">
            <div id="create">
                <button class="btn btn-success" onclick="showFormCreate()" type="button">AddNewProduct</button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            //main
            <div id="main"></div>
        </div>
    </div>

    <div class="row"></div>

</div>

</body>
<select name="" id="">

</select>

</html>